@model IEnumerable<T_PRT_ORGANIZATIONS>
@{
    ViewData["Title"] = "Organization List";
    ViewData["SubTitle"] = "A listing of the registered tribes or tribal agencies (i.e. organizations) that participate in the Tribal Portal.";
}


<section class="panel panel-default">
    <div class="table-responsive">

        <table class="table table-striped m-b-none" data-ride="datatables">
            <tr>
                <th></th>
                <th>Organization ID</th>
                <th>Organization Name</th>
                <th>Image</th>
                <th>Wordpress URL</th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                <a href="@Url.Action("OrgEdit","Admin", new { id=item.ORG_ID })" class="btn btn-rounded btn-xs btn-info"><i class="glyphicon glyphicon-pencil"></i></a>
                @*<div class="delete-section" style="display:inline">
                <a class=" btn btn-rounded btn-xs btn-danger delete-link"><i class="glyphicon glyphicon-remove"></i></a>
                <div class="btn btn-rounded btn-xs btn-warning delete-confirm" style="display:none" data-delete-id="@item.ORG_ID" data-delete-p="/Admin/OrgDelete"><b>Confirm Delete</b></div>
            </div>*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ORG_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ORG_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ORG_SEAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WORDPRESS_URL)
            </td>
        </tr>
            }

        </table>

    </div>

</section>


@section scripts {
    <script src="~/js/confirm_delete.js"></script>
}

