@model TribalSvcPortal.ViewModels.OpenDumpViewModels.Cleanup2ViewModel


            <section class="panel panel-default" style="margin-top:5px;">
                <div class="panel-heading">
                    Cleanup Cost Estimate - Itemized Details
                    <div class="panel-tools">
                        <a class="btn btn-xs panel-collapse collapses" href="#">
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped m-b-none" data-ride="datatables">
                                    <thead>
                                        <tr class="thead-inverse">
                                            <th></th>
                                            <th>Category</th>
                                            <th>Dump Total for Category</th>
                                            <th>Cleanup Resource</th>
                                            <th>Resources Hourly Rate</th>
                                            <th>Processing Rate</th>
                                            <th>Calculated Cost</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr class="tfoot-inverse">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-bold">Total:</td>
                                            <td class="text-bold"><span id="tot"></span></td>
                                        </tr>
                                    </tfoot>

                                    @foreach (var item in Model.AssessmentCleanups)
                                    {
                                    <tr>
                                        <td>
                                            @Html.HiddenFor(model => item.CLEANUP_CLEANUP_DTL_IDX)
                                            @Html.HiddenFor(model => item.CLEANUP_PROJECT_IDX)
                                            @Html.HiddenFor(model => item.CLEANUP_COST, new { @class = "subtot" })
                                            <a href="#modal-form" class="btn btn-rounded btn-xs btn-info modal-it" data-toggle="modal"><i class="glyphicon glyphicon-pencil"></i></a>
                                            <div class="delete-section" style="display:inline">
                                                <a class=" btn btn-rounded btn-xs btn-danger delete-link"><i class="glyphicon glyphicon-remove"></i></a>
                                                <div class="btn btn-rounded btn-xs btn-warning delete-confirm" style="display:none" data-delete-id="@item.CLEANUP_CLEANUP_DTL_IDX" data-delete-id2="@item.CLEANUP_PROJECT_IDX"  data-delete-p="/OpenDump/Cleanup2Delete" data-success-url="OpenDump/Cleanup2/@item.CLEANUP_PROJECT_IDX"><b>Confirm Delete</b></div>
                                            </div>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.REF_WASTE_TYPE_CAT)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.sumCat)
                                        </td>
                                        <td>
                                            @if (item.ASSET_COUNT > 1)
                                            {
                                                <text><span class="text-blue text-bold">(@Html.DisplayFor(model => item.ASSET_COUNT)x) </span></text>
                                            }
                                            @Html.DisplayFor(model => item.REF_ASSET_NAME)
                                        </td>
                                        <td>
                                            $@Html.DisplayFor(model => item.ASSET_HOURLY_RATE) / @if (item.PER_UNIT_IND == true)
                                            {<text>unit</text>}
                                            else
                                            {<text>hr</text>}
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.PROCESS_RATE_PER_HR) @Html.DisplayFor(model => item.PROCESS_RATE_UNIT)
                                        </td>
                                        <td>
                                            @string.Format("{0:C}", item.CLEANUP_COST)
                                        </td>
                                    </tr>
                                    }

                                </table>
                            </div>

                        </div>
                    </div>
                    <a href="@Url.Action("Cleanup", "OpenDump", new { id = Model.CleanupProject.CLEANUP_PROJECT_IDX })" class="btn btn-rounded btn-rounded btn-primary">Back</a>
                </div>
            </section>



<!-- START MODAL FORM  -->
<div class="modal fade" id="modal-form" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        @using (Html.BeginForm("CleanupActivityAdd", "OpenDump", FormMethod.Post, new { @class = "", @id = "norepostform" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.CleanupProject.CLEANUP_PROJECT_IDX)
            @Html.HiddenFor(model => model.edit_cleanupActivityIdx)

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title">Add Cleanup Activity</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <label>Cleanup Activity</label>
                                            @Html.TextBoxFor(model => model.edit_CleanupActivityName, new { @class = "form-control", @data_required = "true" })
                                            @Html.ValidationMessageFor(model => model.edit_CleanupActivityName)
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Amount</label>
                                            @Html.TextBoxFor(model => model.edit_CleanupActivityAmt, new { @class = "form-control", @data_required = "true" })
                                            @Html.ValidationMessageFor(model => model.edit_CleanupActivityAmt)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="picLoc" type="submit" class="btn btn-sm btn-primary">Save</button>
                    <button class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        }
    </div>
</div>
<!-- END MODAL FORM -->

@section Scripts {
    <script src="~/js/confirm_delete.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
        
            //display total on page ready
            CalcTotal();

            function CalcTotal() {
                var _tot = 0;
                $(".subtot").each(function () {
                    _tot += parseFloat(this.value);
                });
                $("#tot").text("$ " + _tot.toFixed(2));
            }



            //create an event when button is clicked to display modal
            $(".modal-it").click(function () {
                $('#edit_cleanupActivityIdx').val($(this).parent('td').find('#item_DUMP_ASSESSMENT_RESTORE_IDX').val());
                $('#edit_CleanupActivityName').val($(this).parent('td').find('#item_RESTORE_ACTIVITY').val());
                $('#edit_CleanupActivityAmt').val($(this).parent('td').find('#item_RESTORE_COST').val());
            });

            $(".add-it").click(function () {
                $('#edit_cleanupActivityIdx').val(null);
                $('#edit_CleanupActivityName').val('');
                $('#edit_CleanupActivityAmt').val('');
            });
        });
    </script>
}