@model TribalSvcPortal.ViewModels.OpenDumpViewModels.CleanupTransportViewModel


<section class="panel panel-default" style="margin-top:5px;">
    <div class="panel-heading">
        Transport Cost Estimate - Itemized Details
        <div class="panel-tools">
            <a class="btn btn-xs panel-collapse collapses" href="#">
            </a>
        </div>
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped m-b-none" data-ride="datatables">
                        <thead>
                            <tr class="thead-inverse">
                                <th></th>
                                <th>Waste Type</th>
                                <th>Number of Loads</th>
                                <th>Hours per Load</th>
                                <th>Total Hourly Transport Rate</th>
                                <th>Transport Cost</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="tfoot-inverse">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-bold">Total:</td>
                                <td class="text-bold"><span id="tot"></span></td>
                            </tr>
                        </tfoot>

                        @if (Model.TransportDetails != null)
                        {
                            foreach (var item in Model.TransportDetails)
                            {
                        <tr>
                            <td>
                                @Html.HiddenFor(model => item.T_OD_CLEANUP_TRANSPORT_DTL.CLEANUP_TRANSPORT_DTL_IDX)
                                @Html.HiddenFor(model => item.T_OD_CLEANUP_TRANSPORT_DTL.CLEANUP_PROJECT_IDX)
                                @Html.HiddenFor(model => item.T_OD_CLEANUP_TRANSPORT_DTL.TRANSPORT_COST, new { @class = "subtot" })
                                <a href="#modal-form" class="btn btn-rounded btn-xs btn-info modal-it" data-toggle="modal"><i class="glyphicon glyphicon-pencil"></i></a>
                                <div class="delete-section" style="display:inline">
                                    <a class=" btn btn-rounded btn-xs btn-danger delete-link"><i class="glyphicon glyphicon-remove"></i></a>
                                    <div class="btn btn-rounded btn-xs btn-warning delete-confirm" style="display:none" data-delete-id="@item.T_OD_CLEANUP_TRANSPORT_DTL.CLEANUP_TRANSPORT_DTL_IDX" data-delete-id2="@item.T_OD_CLEANUP_TRANSPORT_DTL.CLEANUP_PROJECT_IDX" data-delete-p="/OpenDump/CleanupDisposalDelete" data-success-url="OpenDump/CleanupDisposal/@item.T_OD_CLEANUP_TRANSPORT_DTL.CLEANUP_PROJECT_IDX"><b>Confirm Delete</b></div>
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.REF_WASTE_TYPE_NAME)
                            </td>
                            <td>
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.T_OD_CLEANUP_TRANSPORT_DTL.HOURS_LOAD)
                            </td>
                            <td>
                                @string.Format("{0:C}", item.T_OD_CLEANUP_TRANSPORT_DTL.HOURLY_RATE)
                            </td>
                            <td>
                                @string.Format("{0:C}", item.T_OD_CLEANUP_TRANSPORT_DTL.TRANSPORT_COST)
                            </td>
                        </tr>
                            }
                        }
                    </table>
                </div>

            </div>
        </div>
        <a href="@Url.Action("Cleanup", "OpenDump", new { id = Model.CleanupProject.CLEANUP_PROJECT_IDX })" class="btn btn-rounded btn-rounded btn-primary">Back</a>
    </div>
</section>