@model TribalSvcPortal.ViewModels.OpenDumpViewModels.CleanupViewModel
@{
    ViewBag.Title = "Cleanup Estimate";
    ViewBag.SubTitle = Model.SiteName + "(" + @Model.Assessment.ASSESSMENT_DT.ToShortDateString() + ")";
}

<section class="panel panel-default">
    <div class="panel-heading">
        Waste Amounts
        <div class="panel-tools">
            <a class="btn btn-xs panel-collapse collapses" href="#">
            </a>
        </div>
    </div>
    @using (Html.BeginForm("Cleanup", "OpenDump", FormMethod.Post, new { @id = "norepostform", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.CleanupProject.CLEANUP_PROJECT_IDX)
        @Html.HiddenFor(model => model.CleanupProject.ASSESSMENT_IDX)
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Project Type</label>
                        @Html.TextBoxFor(model => model.CleanupProject.PROJECT_TYPE, new { @readonly = "readonly", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CleanupProject.PROJECT_TYPE)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Description</label>
                        @Html.TextBoxFor(model => model.CleanupProject.PROJECT_DESCRIPTION, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CleanupProject.PROJECT_DESCRIPTION)
                    </div>
                </div>
            </div>
            @if (Model.CleanupProject.PROJECT_TYPE == "Estimate")
            {
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-condensed table-striped m-b-none" data-ride="datatables">
                    <thead>
                        <tr class="thead-inverse">
                            <th>Category</th>
                            <th>Waste Type</th>
                            <th>Amount</th>
                            <th>Unit</th>
                            <th>Disposal Method</th>
                            <th>Disposal Distance (hr)</th>
                        </tr>
                    </thead>

                    @for (int i = 0; i < Model.DumpContents.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.DumpContents[i].REF_WASTE_TYPE_CAT)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.DumpContents[i].REF_WASTE_TYPE_NAME)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.DumpContents[i].WASTE_AMT)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.DumpContents[i].UNIT_MSR_CD)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.DumpContents[i].WASTE_DISPOSAL_METHOD_TXT)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.DumpContents[i].WASTE_DISPOSAL_DIST)
                            </td>
                        </tr>
                    }

                </table>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <a href="@Url.Action("WasteContent", "OpenDump", new { id = Model.Assessment.ASSESSMENT_IDX })" class="btn btn-xs btn-danger pull-right">Click to Edit Waste Contents</a>
                    @if (Model.DumpContents.Count() > 0)
                    {
                        <a href="@Url.Action("CleanupEstRpt", "OpenDump", new { id = Model.CleanupProject.CLEANUP_PROJECT_IDX })" class="btn btn-eecip"><i class="clip-file-pdf"></i> Report</a>
                    }
                </div>
            </div>
            }
        </div>
    }
</section>

@if (Model.CleanupProject.PROJECT_TYPE == "Estimate" && Model.CleanupProject.COST_TOTAL_AMT != null)
{
    <section class="panel panel-default" style="margin-top:5px;">
        <div class="panel-heading">
            Cost Estimates <span class="pull-right" style="font-size:8pt; margin-right:30px;">(click button to view/edit details)</span>
            <div class="panel-tools">
                <a class="btn btn-xs panel-collapse collapses" href="#">
                </a>
            </div>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="btn btn-icon btn-block" style="padding-top: 12px;" href="@Url.Action("Cleanup2", "OpenDump", new { @id = Model.CleanupProject.CLEANUP_PROJECT_IDX })">
                        <i class="clip-wrench-2"></i>
                        Cleanup Costs<br />
                        $ @Html.DisplayFor(x => x.CleanupProject.COST_CLEANUP_AMT)
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="btn btn-icon btn-block" style="padding-top: 12px;" href="@Url.Action("CleanupTransport", "OpenDump", new { @id = Model.CleanupProject.CLEANUP_PROJECT_IDX })">
                        <i class="clip-truck"></i>
                        Transport Costs<br />
                        $ @Html.DisplayFor(x => x.CleanupProject.COST_TRANSPORT_AMT)
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="btn btn-icon btn-block" style="padding-top: 12px;" href="@Url.Action("CleanupDisposal", "OpenDump", new { @id = Model.CleanupProject.CLEANUP_PROJECT_IDX })">
                        <i class="glyphicon glyphicon-trash"></i><br />
                        Disposal Costs<br />
                        $ @Html.DisplayFor(x => x.CleanupProject.COST_DISPOSAL_AMT)
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="btn btn-icon btn-block" style="padding-top: 12px;" href="@Url.Action("CleanupActivities", "OpenDump", new { @id = Model.CleanupProject.CLEANUP_PROJECT_IDX, @Cat = "Restoration" })">
                        <i class="clip-leaf"></i>
                        Site Restoration<br />
                        $ @Html.DisplayFor(x => x.CleanupProject.COST_RESTORE_AMT)
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="btn btn-icon btn-block" style="padding-top: 12px;" href="@Url.Action("CleanupActivities", "OpenDump", new { @id = Model.CleanupProject.CLEANUP_PROJECT_IDX, @Cat = "Surveillance" })">
                        <i class="clip-camera-2"></i>
                        Surveillance<br />
                        $ @Html.DisplayFor(x => x.CleanupProject.COST_SURVEIL_AMT)
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <button class="btn btn-icon btn-block" style="background-color: #3D9400;">
                        <i class="clip-banknote"></i>
                        Total<br />
                        $ @Html.DisplayFor(x => x.CleanupProject.COST_TOTAL_AMT)
                    </button>
                </div>
            </div>
        </div>
    </section>
}

