@model TribalSvcPortal.ViewModels.OpenDumpViewModels.PreFieldViewModel

<link rel="stylesheet" href="https://js.arcgis.com/3.25/esri/css/esri.css">

<!-- render the main content -->
<div class="row">
    <div class="col-sm-12">
        <div id="tabs" class="tabbable">
            <ul id="myTab" class="nav nav-tabs tab-blue">
                <li class="active">
                    <a href="#tab1" data-toggle="tab">
                        Pre-Field
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Assessments", "OpenDump", new { id = Model.TPrtSite.SITE_IDX })">
                        Field Assessments
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane in active" id="tab1">
                    <!-- render the main content -->
                    @using (Html.BeginForm("PreField", "OpenDump", FormMethod.Post, new { @id = "norepostform", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.TPrtSite.SITE_IDX)
                        @Html.HiddenFor(model => model.returnURL)
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-sm-12" style="margin-top: 8px;">
                                <div>
                                    <label class="col-sm-1 control-label" style="margin-top:8px;">
                                        Site Name
                                    </label>
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(model => model.TPrtSite.SITE_NAME, new { @class = "form-control", @placeholder = "", @maxlength = "100", required = "required" })
                                        @Html.ValidationMessageFor(model => model.TPrtSite.SITE_NAME, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div>
                                    <label class="col-sm-1 control-label" style="margin-top:8px;">
                                        Organization
                                    </label>
                                    <div class="col-sm-3">
                                        @Html.DropDownListFor(model => model.TPrtSite.ORG_ID, Model.OrgList, new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                                <div>
                                    <label class="col-sm-1 control-label" style="margin-top:8px;">
                                        EPA ID
                                    </label>
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(model => model.TPrtSite.EPA_ID, new { @class = "form-control", @placeholder = "", @maxlength = "50" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <section class="panel panel-default" style="margin-top:5px;">
                            <div class="panel-heading">
                                Location
                                <div class="panel-tools">
                                    <a class="btn btn-xs panel-collapse collapses" href="#">
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6" style="border-right: 2px solid black;">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Latitude</label>
                                                    @Html.TextBoxFor(model => model.TPrtSite.LATITUDE, new { @id = "latitude", @class = "form-control", @placeholder = "", @maxlength = "18" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Longitude</label>
                                                    @Html.TextBoxFor(model => model.TPrtSite.LONGITUDE, new { @id = "longitude", @class = "form-control", @placeholder = "", @maxlength = "18" })
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <label>&nbsp;</label>
                                                <a href="#modal-form" data-toggle="modal" id="btnShow" class="btn btn-primary">Select on Map</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Street Address or Road/Intersection</label>
                                                    @Html.TextAreaFor(model => model.TPrtSite.SITE_ADDRESS, new { @class = "form-control", @placeholder = "", @maxlength = "400" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Community</label>
                                                    @Html.DropDownListFor(model => model.TOdSite.COMMUNITY_IDX, Model.CommunityList, "", new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Land Status</label>
                                                    @Html.DropDownListFor(model => model.TPrtSite.LAND_STATUS, Model.ddl_LandStatus, "", new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-12 control-label" style="margin-top:8px;">
                                                <b><u>Proximity Factors</u></b>
                                            </label>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Site Setting</label>
                                                    @Html.DropDownListFor(model => model.TOdSite.SITE_SETTING_IDX, Model.SiteSettingsList, "", new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Distance to Homes</label>
                                                    @Html.DropDownListFor(model => model.TOdSite.PF_HOMES_DIST, Model.HomesList, "", new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Vertical Dist. to DW Aquifer</label>
                                                    @Html.DropDownListFor(model => model.TOdSite.PF_AQUIFER_VERT_DIST, Model.AquiferList, "", new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Horiz Dist. to SW Bodies</label>
                                                    @Html.DropDownListFor(model => model.TOdSite.PF_SURF_WATER_HORIZ_DIST, Model.SurfaceWaterList, "", new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="row" style="background-color:#4F4F4F; padding:6px;">
                                            <label style="color:white; font-size:11pt;">Auto-populated</label>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-4 control-label" style="text-align: right;">
                                                State:
                                            </label>
                                            <div class="col-sm-8">
                                                Test data
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-4 control-label" style="text-align: right;">
                                                Country:
                                            </label>
                                            <div class="col-sm-8">
                                                Test data
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-4 control-label" style="text-align: right;">
                                                ZIP:
                                            </label>
                                            <div class="col-sm-8">
                                                Test data
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-4 control-label" style="text-align: right;">
                                                Section/Twp/Range:
                                            </label>
                                            <div class="col-sm-8">
                                                Test data
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-4 control-label" style="text-align: right;">
                                                Topographic Quadrangle:
                                            </label>
                                            <div class="col-sm-8">
                                                Test data
                                            </div>
                                        </div>
                                        <div class="row" style="background-color:#4F4F4F; padding:6px;">
                                            <label style="color:white; font-size:11pt;">Parcels</label>
                                            <button type="button" name="btnAddMore" class="btn btn-primary pull-right btn-xs">Add More</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="panel panel-default" style="margin-top:5px;">
                            <div class="panel-heading">
                                Initial Report
                                <div class="panel-tools">
                                    <a class="btn btn-xs panel-collapse collapses" href="#">
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <label>Reported By</label>
                                            @Html.TextBoxFor(model => model.TOdSite.REPORTED_BY, new { @class = "form-control", @placeholder = "", @maxlength = "50" })
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <label>Reported On</label>
                                            @Html.TextBoxFor(model => model.TOdSite.REPORTED_ON, "{0:MM/dd/yyyy}", new { @autocomplete = "off", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="row">
                            <div class="col-md-12">
                                <button id="btnSave" name="submitButton" disabled type="submit" class="btn btn-eecip">Save</button>
                                @if (Model.returnURL == "Search2")
                                {
                                    <a href="@Url.Action("Sites", "OpenDump", new { tab = "2" })" class="btn btn-default">Back</a>
                                }
                                else
                                {
                                    <a href="@Url.Action(Model.returnURL, "OpenDump")" class="btn btn-default">Back</a>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- map modal  -->
<div class="modal fade" id="modal-form" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="float: left" class="modal-title">Select Site on Map</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 ">
                        <p>Click on the map to locate the site.</p>
                        <form role="form">
                            <div class="panel-body" style="padding: 0px">
                                <div id="map_canvas" style="width: 100%; height: 400px;"></div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Latitude:
                                        <input id="txtLat1" class="form-control" value="" />
                                    </div>
                                    <div class="col-md-3">
                                        Longitude:
                                        <input id="txtLong1" class="form-control" value="" />
                                    </div>
                                    <div class="col-md-3">
                                        &nbsp;
                                        <button id="picLoc" type="submit" class="btn btn-eecip form-control" data-dismiss="modal">Continue</button>
                                    </div>
                                    <div class="col-md-3">
                                        &nbsp;
                                        <button type="submit" class="btn btn-eecip form-control" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/jquery.are-you-sure.js"></script>
    <script type="text/javascript">

        //warn user if leaving unsaved page
        $('form').areYouSure();
        $('form').on('dirty.areYouSure', function () {
            $("#btnSave").prop("disabled", false);
        });
        $('form').on('clean.areYouSure', function () {
            console.log('fff')
            $("#btnSave").prop("disabled", true);
        });


        $(document).ready(function () {

            //date pickers
            datepicker('#TOdSite_REPORTED_ON', {
                formatter: (input, date) => {
                    const value = date.toLocaleDateString()
                    input.value = value
                }
            });

            //pass coordinates to modal
            $('#btnShow').click(function () {
                $("#txtLat1").val($("#latitude").val());
                $("#txtLong1").val($("#longitude").val());
                LoadMap();
            });

            //update the saved coordinates back to main form
            $('#picLoc').click(function () {
                $("#latitude").val($("#txtLat1").val());
                $("#longitude").val($("#txtLong1").val());
                $('form').trigger('rescan.areYouSure');
            });

            //repopulate community drop-down based on change of Organization
            $("#TPrtSite_ORG_ID").on("change", function () {
                showValue($(this).val());
            });

        });


        //repopulate community drop-down based on change of Organization
        function showValue(val)
        {
            $.getJSON('@Url.Action("GetCommunityDDL", "OpenDump")' + "?orgID=" + val, function (result) {
                $("#TOdSite_COMMUNITY_IDX").html(""); // makes select null before filling process
                var data = result.data;
                for (var i = 0; i < data.length; i++) {
                    $("#TOdSite_COMMUNITY_IDX").append("<option value='" + data[i].value +"'>" + data[i].text + "</option>")
                }
            })
        }
    </script>

    <script src="https://js.arcgis.com/3.25/"></script>
    @if (Model.TPrtSite != null)
    {
        <script type="text/javascript">

            function LoadMap() {
                var map;

                require(["esri/map",
                    "esri/geometry/Point",
                    "esri/symbols/SimpleMarkerSymbol",
                    "esri/graphic",
                    "esri/Color", "dojo/domReady!"
                ],
                    function (Map,
                        Point,
                        SimpleMarkerSymbol,
                        Graphic,
                        Color
                    ) {
                        map = new Map("map_canvas", {
                            basemap: "topo"
                        });

                        //define marker style 
                        var s = new SimpleMarkerSymbol().setStyle(SimpleMarkerSymbol.STYLE_CIRCLE).setColor(new Color([255, 0, 0, 2]));

                        map.on("load", showMap);
                        map.on("click", addPoint);

                        function showMap() {
                            map.graphics.clear();

                            if ($("#longitude").val() != 0 && $("#latitude").val() != 0) {
                                var p = new Point($("#longitude").val(), $("#latitude").val());
                                map.graphics.add(new Graphic(p, s));
                                map.centerAndZoom(p, 9);
                            }
                            else {
                                var p = new Point(-95.96826, 36.14520);
                                map.centerAndZoom(p, 9);
                            }
                        }

                        //when map is clicked, add or move point on map and (re)populate pop modal textboxes
                        function addPoint(evt) {
                            map.graphics.clear();
                            map.graphics.add(new Graphic(evt.mapPoint, s));
                            $("#txtLat1").val(evt.mapPoint.getLatitude().toFixed(5));
                            $("#txtLong1").val(evt.mapPoint.getLongitude().toFixed(5));
                        }

                    });
            }
        </script>
    }
}
