@model TribalSvcPortal.ViewModels.OpenDumpViewModels.RefDataViewModel
@{
    ViewBag.Title = "Open Dump Reference Data";
    ViewBag.SubTitle = "Edit the reference data used by the Open Dump Module.";
}

<!-- render the top dropdown -->
@using (Html.BeginForm("RefData", "OpenDump", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <label class="col-sm-2 control-label">
            Data Category:
        </label>
        <div class="col-sm-6">
            @Html.DropDownListFor(model => model.sel_ref_cat, Model.ddl_ref_cats, "", new { @class = "form-control", @onchange = "document.location.href = '/OpenDump/RefData?selTag=' + this.options[this.selectedIndex].value;" })
        </div>
    </div>
}


@if (!string.IsNullOrEmpty(Model.sel_ref_cat))
{
    <div class="row">
        <div class="col-sm-12">
            <section class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-striped m-b-none" data-ride="datatables">
                        <thead class="thead-inverse">
                            <tr>
                                <th style="min-width: 70px;"></th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Organization</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.TOdRefData)
                        {
                        <tr>
                            <td>
                                @if (User.IsInRole("OpenDumpAdmin") || (item.ORG_ID != null))
                                {

                                    <a href="#modal-form" class="btn btn-rounded btn-xs btn-info modal-it" data-toggle="modal"><i class="glyphicon glyphicon-pencil"></i></a>
                                    <div class="delete-section" style="display:inline">
                                        <a class=" btn btn-rounded btn-xs btn-danger delete-link"><i class="glyphicon glyphicon-remove"></i></a>
                                        <div class="btn btn-rounded btn-xs btn-warning delete-confirm" style="display:none" data-delete-id="@item.REF_DATA_IDX" data-delete-p="/OpenDump/RefTagsDelete"><b>Confirm Delete</b></div>
                                    </div>
                                    @Html.HiddenFor(modelItem => item.REF_DATA_IDX)
                                    @Html.HiddenFor(modelItem => item.REF_DATA_CAT_NAME)
                                    @Html.HiddenFor(modelItem => item.REF_DATA_VAL)
                                    @Html.HiddenFor(modelItem => item.REF_DATA_DESC)
                                    @Html.HiddenFor(modelItem => item.ORG_ID)
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.REF_DATA_VAL)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.REF_DATA_DESC)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.REF_DATA_CAT_NAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ORG_ID)
                            </td>
                        </tr>
                        }
                    </table>
                </div>
            </section>
            <p>
                <a id="add-it" href="#modal-form" data-toggle="modal" class="add-it btn btn-rounded  btn-rounded btn-success"><i class="glyphicon glyphicon-plus"></i> Add New</a>
            </p>
        </div>
    </div>
}
