@model TribalSvcPortal.ViewModels.OpenDumpViewModels.SearchViewModel
@{
    ViewBag.Title = "Search Open Dumps";
    ViewBag.SubTitle = "Search and view open dump records.";
}
<link rel="stylesheet" href="https://js.arcgis.com/3.25/esri/css/esri.css">

@using (Html.BeginForm("Search", "OpenDump", FormMethod.Get, new { @class = "" }))
{
    @Html.HiddenFor(model => model.tab)
    <div class="row aligned-row">
        <section class="col-md-12 col-sm-12 col-xs-12 ">
            <section class="panel panel-default">
                <div class="panel-heading">
                    Filters
                    <div class="panel-tools">
                        <a class="btn btn-xs panel-collapse collapses" href="#">
                        </a>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Search:</label>
                                @Html.TextBoxFor(model => model.selStr, new { @class = "form-control", @placeholder = "Search site name or address" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Status:</label>
                                @Html.DropDownListFor(model => model.selStatus, Model.ddl_Status, "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Organization:</label>
                                @Html.DropDownListFor(model => model.selOrg, Model.ddl_Org, "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label>&nbsp;</label><br/>
                            <button class="btn btn-eecip" type="submit">
                                <i class="clip-search-2"> </i>Search
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
}

<!-- *********************** START TABS ****************************************** -->
<div id="tabs" class="tabbable">
    <ul id="myTab" class="nav nav-tabs tab-blue">
        <li class="@(Model.tab=="1" ? "active" : "") tooltips" style="line-height: 22px; font-size: 22px;" data-rel="tooltip" data-original-title="List View">
            <a href="#tabList" data-toggle="tab">
                <i class="clip-list color-eecip"></i>
            </a>
        </li>
        <li class="@(Model.tab=="2" ? "active" : "") tooltips" style="line-height: 22px; font-size: 22px;" data-rel="tooltip" data-original-title="Map View">
            <a href="#tabMap" data-toggle="tab">
                <i class="clip-earth color-eecip"></i>
            </a>
        </li>
        <li class="pull-right">
            <a href="@Url.Action("PreField", "OpenDump", new { returnURL = "Search" })" class="btn btn-rounded "
               style="color: #fff;background-color: #6AB43E;border-color: #6AB43E;border-radius: 4px !important;"><i class="glyphicon glyphicon-plus"></i> Add New</a>
        </li>
    </ul>

    <!--  ************************************** TAB CONTENT *********************************************************-->
    <div class="tab-content">
        <div class="tab-pane @(Model.tab=="1" ? "active in" : "")" id="tabList">
            <div class="table-responsive">
                <table class="table table-striped m-b-none" data-ride="datatables">
                    <thead>
                        <tr class="thead-inverse">
                            <th style="min-width:70px"></th>
                            @if (Model.ddl_Org.Count() > 1)
                            {
                                <th>Organization</th>
                            }
                            <th>Site Name</th>
                            <th>Site Address</th>
                            <th>Reported By</th>
                            <th>Status</th>
                            <th>Last Assessed</th>
                            <th>Health Threat</th>
                            <th>Cleanup Estimate</th>
                        </tr>
                    </thead>
                    @if (Model.searchResults != null)
                    {
                        @foreach (var item in Model.searchResults)
                        {
                    <tr>
                        <td style="min-width:65px">
                            <a href="@Url.Action("PreField", "OpenDump", new { id = item.Site_Idx, returnURL = "Search" })" class="btn btn-rounded btn-xs btn-info"><i class="glyphicon glyphicon-pencil"></i></a>
                            <div class="delete-section" style="display:inline">
                                <a class=" btn btn-rounded btn-xs btn-danger delete-link"><i class="glyphicon glyphicon-remove"></i></a>
                                <div class="btn btn-rounded btn-xs btn-warning delete-confirm" style="display:none" data-delete-id="@item.Site_Idx" data-delete-p="/OpenDump/SiteDelete"><b>Confirm Delete</b></div>
                            </div>
                        </td>
                        @if (Model.ddl_Org.Count() > 1)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.OrgName)
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.SiteName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SiteAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReportedBy)
                            @Html.DisplayFor(modelItem => item.ReportedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CurrentSiteStatus)
                        </td>
                        <td>
                            @if (item.LastAssessment != null && item.LastAssessment.ASSESSMENT_DT != DateTime.MinValue)
                            {
                                @Html.DisplayFor(modelItem => item.LastAssessment.ASSESSMENT_DT)
                            }
                        </td>
                        <td>
                            @if (item.HEALTH_THREAT_SCORE != null)
                            {
                                if (item.HEALTH_THREAT_SCORE > 400)
                                {
                                    <span class="label label-danger"> High @Html.DisplayFor(modelItem => item.HEALTH_THREAT_SCORE)</span>
                                }
                                else if (item.HEALTH_THREAT_SCORE > 250)
                                {
                                    <span class="label label-warning">Medium (@Html.DisplayFor(modelItem => item.HEALTH_THREAT_SCORE))</span>
                                }
                                else
                                {
                                    <span class="label label-success">Low @Html.DisplayFor(modelItem => item.HEALTH_THREAT_SCORE)</span>
                                }
                            }
                        </td>
                        <td>
                            @if (item.EST_CLEANUP_COSTS != null)
                            {
                                <text>$ </text> @Html.DisplayFor(modelItem => item.EST_CLEANUP_COSTS)
                            }
                        </td>
                    </tr>
                        }
                    }

                </table>
            </div>

        </div>
        <div class="tab-pane @(Model.tab=="2" ? "active in" : "")" id="tabMap" style="width:100%;height:100%;max-height:650px;min-height: 500px;">

        </div>
    </div>
</div>
<!-- *********************** END TABS ****************************************** -->
@section scripts {
    <script src="~/js/confirm_delete.js"></script>
    <script src="https://js.arcgis.com/3.25/"></script>
    @if (Model.searchResults != null)
    {
    <script type="text/javascript">

        var map;
        var siteArray = [];
        @foreach (var item in Model.searchResults)
        {
            if (item.Latitude != null && item.Longitude != null)
            {
                @:siteArray.push({ "id": "@item.Site_Idx", "siteName": "@item.SiteName", "latitude": @item.Latitude, "longitude" : @item.Longitude, "healthThreat" : @(item.HEALTH_THREAT_SCORE ?? 0) });
            }
        }

        //load map on tab click
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("href") // activated tab
            if (target == "#tabMap") {
                $("#tab").val("2");
                LoadMap();
            }
            else {
                $("#tab").val("1");
            }
        });

        //load map on form load if 2nd tab
        $(document).ready(function () {
            if (@Model.tab == "2") {
                LoadMap();
            }
        });

        function LoadMap()
        {

            require(["esri/map",
                "esri/InfoTemplate",
                "esri/geometry/Point",
                "esri/symbols/SimpleMarkerSymbol",
                "esri/graphic",
                "esri/layers/GraphicsLayer",
                "esri/Color", "dojo/domReady!"
            ],

                function (
                    Map,
                    InfoTemplate,
                    Point,
                    SimpleMarkerSymbol,
                    Graphic,
                    GraphicsLayer,
                    Color)
                {
                    map = new Map("tabMap", {
                        basemap: "topo",
                        center: [-42.1737, 69.6354],
                        zoom: 6
                    });

                    var sRed = new SimpleMarkerSymbol().setStyle(SimpleMarkerSymbol.STYLE_CIRCLE).setColor(new Color([255, 0, 0, 2]));
                    var sOrange = new SimpleMarkerSymbol().setStyle(SimpleMarkerSymbol.STYLE_CIRCLE).setColor(new Color([255, 128, 0, 2]));
                    var sGreen = new SimpleMarkerSymbol().setStyle(SimpleMarkerSymbol.STYLE_CIRCLE).setColor(new Color([0, 204, 0, 2]));
                    var sGrey = new SimpleMarkerSymbol().setStyle(SimpleMarkerSymbol.STYLE_CIRCLE).setColor(new Color([160, 160, 160, 2]));

                    map.on("load", initOperationalLayer);

                    function initOperationalLayer() {

                        var gl = new GraphicsLayer();
                        map.addLayer(gl);

                        siteArray.forEach(function (entry) {
                            if (entry.longitude != 0 && entry.latitude != 0) {

                                var p = new Point(entry.longitude, entry.latitude);
                                var it = new InfoTemplate(entry.siteName);
                                var i = {
                                    Site: entry.siteName,
                                    'Health Threat': entry.healthThreat > 0 ? entry.healthThreat : 'Not calculated',
                                    lat: entry.latitude,
                                    long: entry.longitude, //SiteAddress: item.siteAddress, ReportedBy: item.reportedBy, ReportedOn: item.reportedOn,
                                    View: "<a href='PreField?id=" + entry.id + "&returnURL=Search2'" + ">Edit</a>"
                                };

                                //color markers
                                var s = sGrey;
                                if (entry.healthThreat > 400)
                                    s = sRed;
                                else if (entry.healthThreat > 250)
                                    s = sOrange;
                                else if (entry.healthThreat > 0)
                                    s = sGreen;

                                var g = new Graphic(p, s, i).setInfoTemplate(it);
                                map.graphics.add(g);
                                gl.add(g);
                            }
                        });

                        //create an extent matching the graphics of the parcel(s)
                        var zoomExtent = esri.graphicsExtent(gl.graphics);
                        if (zoomExtent) {
                            map.setExtent(zoomExtent, true);
                        }
                    }

                });

        }
    </script>
    }

}

