@model TribalSvcPortal.ViewModels.OpenDumpViewModels.SearchViewModel
@{
    ViewBag.Title = "Search Open Dumps";
    ViewBag.SubTitle = "Search and view open dump records.";
}
<link rel="stylesheet" href="https://js.arcgis.com/3.25/esri/css/esri.css">

@using (Html.BeginForm("Search", "OpenDump", FormMethod.Get, new { @class = "" }))
{
    <div class="row aligned-row">
        <section class="col-md-12 col-sm-12 col-xs-12 ">
            <section class="panel panel-default">
                <div class="panel-heading">
                    Filters
                    <div class="panel-tools">
                        <a class="btn btn-xs panel-collapse collapses" href="#">
                        </a>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Search:</label>
                                @Html.TextBoxFor(model => model.selStr, new { @class = "form-control", @placeholder = "Search site name or address" })
                            </div>
                        </div>
                        @*<div class="col-md-6">
                                <div class="form-group">
                                    <label>Status:</label>
                                    @Html.DropDownListFor(model => model.selStatus, Model.ddl_Status, "", new { @class = "form-control" })
                                </div>
                            </div>*@
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Organization:</label>
                                @Html.DropDownListFor(model => model.selOrg, Model.ddl_Org, "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-eecip" type="submit">
                                <i class="clip-search-2"> </i>Search
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
}

<!-- *********************** START TABS ****************************************** -->
<div id="tabs" class="tabbable">
    <ul id="myTab" class="nav nav-tabs tab-blue">
        <li class="active tooltips" style="line-height: 22px; font-size: 22px;" data-rel="tooltip" data-original-title="List View">
            <a href="#tabList" data-toggle="tab">
                <i class="clip-list color-eecip"></i>
            </a>
        </li>
        <li class="tooltips" style="line-height: 22px; font-size: 22px;" data-rel="tooltip" data-original-title="Map View">
            <a href="#tabMap" data-toggle="tab">
                <i class="clip-earth color-eecip"></i>
            </a>
        </li>
        <li class="pull-right">
            <a href="@Url.Action("PreField", "OpenDump", new { selOrg = Model.selOrg, returnURL = "Search" })" class="btn btn-rounded "
               style="color: #fff;background-color: #6AB43E;border-color: #6AB43E;border-radius: 4px !important;"><i class="glyphicon glyphicon-plus"></i> Add New</a>
        </li>
    </ul>

    <!--  ************************************** TAB CONTENT *********************************************************-->
    <div class="tab-content">
        <div class="tab-pane in active" id="tabList">
            <div class="table-responsive">
                <table class="table table-striped m-b-none" data-ride="datatables">
                    <thead>
                        <tr class="thead-inverse">
                            <th style="min-width:70px"></th>
                            @if (Model.ddl_Org.Count() > 1)
                            {
                            <th>Organization</th>
                            }
                            <th>Site Name</th>
                            <th>Site Address</th>
                            <th>Reported By</th>
                            <th>Reported On</th>
                            <th>Last Assessed</th>
                            <th>Health Threat</th>
                        </tr>
                    </thead>
                    @if (Model.searchResults != null)
                    {
                        @foreach (var item in Model.searchResults)
                        {
                    <tr>
                        <td style="min-width:65px">
                            <a href="@Url.Action("PreField", "OpenDump", new { id = item.Site_Idx, returnURL = "Search" })" class="btn btn-rounded btn-xs btn-info"><i class="glyphicon glyphicon-pencil"></i></a>
                            <div class="delete-section" style="display:inline">
                                <a class=" btn btn-rounded btn-xs btn-danger delete-link"><i class="glyphicon glyphicon-remove"></i></a>
                                <div class="btn btn-rounded btn-xs btn-warning delete-confirm" style="display:none" data-delete-id="@item.Site_Idx" data-delete-p="/OpenDump/SiteDelete"><b>Confirm Delete</b></div>
                            </div>
                        </td>
                        @if (Model.ddl_Org.Count() > 1)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.OrgName)
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.SiteName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SiteAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReportedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReportedOn)
                        </td>
                        <td>
                            @if (item.LAST_ASSESSED != DateTime.MinValue)
                            {
                                @Html.DisplayFor(modelItem => item.LAST_ASSESSED)
                            }
                        </td>
                        <td>
                            @if (item.HEALTH_THREAT_SCORE != null)
                            {
                                if (item.HEALTH_THREAT_SCORE > 400)
                                {
                                    <span class="label label-danger"> High @Html.DisplayFor(modelItem => item.HEALTH_THREAT_SCORE)</span>
                                }
                                else if (item.HEALTH_THREAT_SCORE > 250)
                                {
                                    <span class="label label-warning">Medium (@Html.DisplayFor(modelItem => item.HEALTH_THREAT_SCORE))</span>
                                }
                                else
                                {
                                    <span class="label label-success">Low @Html.DisplayFor(modelItem => item.HEALTH_THREAT_SCORE)</span>
                                }
                            }
                        </td>
                    </tr>
                        }
                    }

                </table>
            </div>

        </div>
        <div class="tab-pane" id="tabMap" style="width:100%;height:100%;">

        </div>
    </div>
</div>
<!-- *********************** END TABS ****************************************** -->
@section scripts {
    <script src="~/js/confirm_delete.js"></script>
    <script src="https://js.arcgis.com/3.25/"></script>
    @*<style>
        div.esriPopupWrapper .zoomTo {
            display: none;
        }
    </style>*@
    @if (Model.searchResults != null)
    {
    <script type="text/javascript">

            LoadMap();

            function LoadMap()
            {
                var map;
                var siteArray = [];
                @foreach (var item in Model.searchResults)
                {
                    if (item.Latitude != null && item.Longitude != null)
                    {
                        @:siteArray.push("@item.Latitude", "@item.Longitude");
                    }
                }

                console.log(siteArray);

                require(["esri/map",
                    "esri/InfoTemplate",
                    "esri/geometry/Point",
                    "esri/symbols/SimpleMarkerSymbol",
                    "esri/graphic",
                    "esri/layers/GraphicsLayer",
                    "esri/Color", "dojo/domReady!"
                ],

                    function (
                        Map,
                        InfoTemplate,
                        Point,
                        SimpleMarkerSymbol,
                        Graphic,
                        GraphicsLayer,
                        Color)
                    {
                        map = new Map("tabMap", {
                            basemap: "topo",
                            center: [-42.1737, 69.6354],
                            zoom: 6
                        });

                        map.on("load", initOperationalLayer);

                        function initOperationalLayer() {

                            var s = new SimpleMarkerSymbol().setStyle(SimpleMarkerSymbol.STYLE_SQUARE).setColor(new Color([255, 0, 0, 2]));
//                            var gl = new GraphicsLayer();
//                            map.addLayer(gl);

                            siteArray.forEach(function (entry) {
                                console.log(entry);
                                var p = new Point(entry.latitude, entry.longitude);
                                map.graphics.add(new Graphic(p, s));
//                                var i = {
//                                    x: entry.latitude, y: entry.longitude//, SiteName: item.siteName, SiteAddress: item.siteAddress, ReportedBy: item.reportedBy, ReportedOn: item.reportedOn,
////                                    Goto: "<a href='PreField?id=" + item.site_Idx + "&returnURL=Search'" + ">Edit</a>"
//                                };

//                                var it = new InfoTemplate("Coordinates");
//                                var g = new Graphic(p, s, i).setInfoTemplate(it);
//                                var g = new Graphic(p, s);
//                                gl.add(g);
                            });


                            //create an extent matching the graphics of the parcel(s)
//                            var zoomExtent = esri.graphicsExtent(gl.graphics);
                            //map.setExtent(zoomExtent, true);
                        }

                    });

            }
    </script>
    }

}

