<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="The Tribal Services Portal allows people to discover and use tribal services." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-security-policy" content="upgrade-insecure-requests" />
    <title>@ViewData["Title"] @(ViewData["Title"] != null ? " - " : "") Tribal Services Portal</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/fonts.css" />
        <link rel="stylesheet" href="~/fonts/clip-style.css" />
        <link rel="stylesheet" href="~/css/main.css" />
        <link rel="stylesheet" href="~/css/main-responsive.css" />
        <link rel="stylesheet" href="~/css/theme_dark.css" />
        <link rel="stylesheet" href="~/css/toastr.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("customstyles", required: false)
    @RenderSection("HeaderJS", required: false)
</head>
<body class="login example1">
    <div class="main-login col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
        <div class="logo">Tribal Services Portal</div>
        <div class="box-login" style="display: block;">
            <section class="panel panel-default bg-white m-t-lg">
                <header class="panel-heading text-center">
                    <strong>@ViewBag.Title</strong>
                    <div class="panel-tools">
                        <a class="btn btn-xs btn-link" href="@Url.Action("Index", "Home")">
                            <i class="clip-close"></i>
                        </a>
                    </div>
                </header>
                @RenderBody()
            </section>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/toastr.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/toastr.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        jQuery(document).ready(function () {
            Main.init();
        });
    </script>
    @Html.Partial("_Alerts")
    @RenderSection("Scripts", required: false)
</body>
</html>