@using TribalSvcPortal.HtmlHelpers
@model IEnumerable<T_PRT_CLIENTS>

<div class="main-navigation navbar-collapse collapse navbar-collapse-left">
    <!-- start: MAIN MENU TOGGLER BUTTON -->
    <div class="navigation-toggler">
        <i class="clip-chevron-left"></i>
        <i class="clip-chevron-right"></i>
    </div>
    <!-- end: MAIN MENU TOGGLER BUTTON -->
    <!-- start: MAIN NAVIGATION MENU -->
    <ul class="main-navigation-menu">
        <li class="lvl1 @Html.ActivePage("Home", "Index")">
            <a href="@Url.Action("Index","Home")">
                <i class="clip-home"></i>
                <span class="title">Portal</span>
                <i class="icon-arrow"></i>
                <span class="selected"></span>
            </a>
            <ul class="sub-menu" style="display:block;">
                <li class="@Html.ActivePage("Home", "Services")">
                    <a href="@Url.Action("Services", "Home")">
                        <span class="title">Services </span>
                    </a>
                </li>
                <li class="@Html.ActivePage("Home", "Events")">
                    <a href="@Url.Action("Events", "Home")">
                        <span class="title">Events </span>
                    </a>
                </li>
                <li class="@Html.ActivePage("Home", "Maps")">
                    <a href="@Url.Action("Maps", "Home")">
                        <span class="title">Maps </span>
                    </a>
                </li>
                <li class="@Html.ActivePage("Home", "api")">
                    <a href="@Url.Action("api", "Home")">
                        <span class="title">Data APIs </span>
                    </a>
                </li>
            </ul>
        </li>
        @if (Model != null)
        {
            @foreach (var MenuItem in Model)
            {
                @if (@MenuItem.CLIENT_LOCAL_IND == false)
                {
                    <li class="lvl1">
                        <a href="@MenuItem.CLIENT_URL">
                            <i class="clip-new-tab"></i>
                            <span class="title">@MenuItem.CLIENT_NAME</span>
                        </a>
                    </li>
                }
                else if (MenuItem.CLIENT_NAME == "Open Dump" )
                {
                    <li class="open">
                        <a href="javascript:void(0)">
                            <i class="clip-leaf"></i>
                            <span class="title">Open Dump</span>
                            <i class="icon-arrow"></i>
                        </a>
                        <ul class="sub-menu" style="display:block;">
                            <li class="@Html.ActivePage("OpenDump", "Search")">
                                <a href="@Url.Action("Search", "OpenDump")">
                                    <span class="title">Search Dumps </span>
                                </a>
                            </li>
                            <li class="@Html.ActivePage("OpenDump", "RefData")">
                                <a href="@Url.Action("RefData", "OpenDump")">
                                    <span class="title">Reference Data </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
            }


        }

        @if (User.IsInRole("PortalAdmin"))
        {
            <li class="open">
                <a href="javascript:void(0)">
                    <i class="clip-cog-2"></i>
                    <span class="title">Administration</span>
                    <i class="icon-arrow"></i>
                </a>
                <ul class="sub-menu" style="display:block;">
                    <li class="@Html.ActivePage("Admin", "Settings")">
                        <a href="@Url.Action("Settings","Admin")">
                            <span class="title">Global Config </span>
                        </a>
                    </li>
                    <li class="@Html.ActivePage("Admin", "Ref")">
                        <a href="javascript:;">
                            <span class="title">Security Config</span>
                            <i class="icon-arrow"></i>
                        </a>
                        <ul class="sub-menu">
                            <li class="lvl3 @Html.ActivePage("Admin", "UserList,UserEdit,OrgUserClients")">
                                <a href="@Url.Action("UserList","Admin")">
                                    <span class="title">Users </span>
                                </a>
                            </li>
                            <li class="lvl3 @Html.ActivePage("Admin", "RoleList")">
                                <a href="@Url.Action("RoleList","Admin")">
                                    <span class="title">Roles </span>
                                </a>
                            </li>
                            <li class="lvl3 @Html.ActivePage("Admin", "ClientList,ClientEdit")">
                                <a href="@Url.Action("ClientList","Admin")">
                                    <span class="title">Clients </span>
                                </a>
                            </li>
                            <li class="lvl3 @Html.ActivePage("Admin", "OrgList,OrgEdit")">
                                <a href="@Url.Action("OrgList","Admin")">
                                    <span class="title">Organizations </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="@Html.ActivePage("Admin", "EmailConfig")">
                        <a href="@Url.Action("EmailConfig","Admin")">
                            <span class="title">Email Config </span>
                        </a>
                    </li>
                    @*<li class="@Html.ActivePage("Admin", "Ref")">
                        <a href="javascript:;">
                            <span class="title">Reference Data</span>
                            <i class="icon-arrow"></i>
                        </a>
                        <ul class="sub-menu">
                            <li class="lvl3 @Html.ActivePage("Admin", "RefAgencies")">
                                <a href="@Url.Action("RefAgencies","Admin")">
                                    <span class="title">Agencies</span>
                                </a>
                            </li>
                        </ul>
                    </li>*@
                    <li class="@Html.ActivePage("Admin", "Ref")">
                        <a href="javascript:;">
                            <span class="title">Logging</span>
                            <i class="icon-arrow"></i>
                        </a>
                        <ul class="sub-menu">
                            <li class="lvl3 @Html.ActivePage("Admin", "SysLog")">
                                <a href="@Url.Action("SysLog","Admin")">
                                    <span class="title">General Log</span>
                                </a>
                            </li>
                            <li class="lvl3 @Html.ActivePage("Admin", "EmailLog")">
                                <a href="@Url.Action("EmailLog","Admin")">
                                    <span class="title">Email Log</span>
                                </a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </li>
        }

    </ul>
</div>
