@model TribalSvcPortal.ViewModels.OpenDumpViewModels.OpenDumpViewModel
@using TribalSvcPortal.ViewModels.OpenDumpViewModels;
@{
    ViewBag.SubTitle = "";
    ViewBag.Title = "";

}
<link rel="stylesheet" href="https://js.arcgis.com/3.25/esri/css/esri.css">
<!-- render the main content -->
<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("OpenDumpEdit", "OpenDump", FormMethod.Post, new { @id = "norepostform", enctype = "multipart/form-data" }))
        {

            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.oPreFieldViewModel.TPrtSites.SiteIdx)
            @Html.HiddenFor(model => model.oPreFieldViewModel.selOrg)
            @Html.HiddenFor(model => model.oPreFieldViewModel.returnURL)
            @Html.HiddenFor(model => model.oPreFieldViewModel.activeTab)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <label class="col-sm-1 control-label" style="margin-top:8px;">
                            Site Name
                        </label>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.oPreFieldViewModel.TPrtSites.SiteName, new { @class = "form-control", @placeholder = "", @maxlength = "100" })
                        </div>
                    </div>
                    <div>
                        <label class="col-sm-1 control-label" style="margin-top:8px;">
                            Organization
                        </label>
                        <div class="col-sm-3">
                            @Html.DropDownListFor(model => model.oPreFieldViewModel.TPrtSites.OrgId, Model.oPreFieldViewModel.OrgList, "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div>
                        <label class="col-sm-1 control-label" style="margin-top:8px;">
                            EPA ID
                        </label>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.oPreFieldViewModel.TPrtSites.EpaId, new { @class = "form-control", @placeholder = "", @maxlength = "50" })
                        </div>
                    </div>
                </div>
            </div>
            <section class="panel panel-default" style="margin-top:5px;">
                <div class="panel-heading">
                    Location
                    <div class="panel-tools">
                        <a class="btn btn-xs panel-collapse collapses" href="#">
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                        <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Latitude</label>
                                        @Html.TextBoxFor(model => model.oPreFieldViewModel.TPrtSites.Latitude, new { @id = "latitude", @class = "form-control", @placeholder = "", @maxlength = "18" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Longitude</label>
                                        @Html.TextBoxFor(model => model.oPreFieldViewModel.TPrtSites.Longitude, new { @id = "longitude", @class = "form-control", @placeholder = "", @maxlength = "18" })
                                    </div>
                                </div>
                                <div class="col-md-2" style="margin-top:22px;">
                                    <div class="form-group">
                                        <a href="#modal-form" data-toggle="modal" id="btnShow" class="btn btn-primary">Select on Map</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label>Street Address or Road/Intersection</label>
                                        @Html.TextAreaFor(model => model.oPreFieldViewModel.TPrtSites.SiteAddress, new { @class = "form-control", @placeholder = "", @maxlength = "400" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label>Community</label>
                                        @Html.DropDownListFor(model => model.oPreFieldViewModel.TOdSites.COMMUNITY_IDX, Model.oPreFieldViewModel.CommunityList, "", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-11 control-label" style="margin-top:8px;">
                                    <b><u>Proximity Factors</u></b>
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Site Setting</label>
                                        @Html.DropDownListFor(model => model.oPreFieldViewModel.TOdSites.SITE_SETTING_IDX, Model.oPreFieldViewModel.SiteSettingsList, "", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Distance to Homes</label>
                                        @Html.DropDownListFor(model => model.oPreFieldViewModel.TOdSites.PF_HOMES_DIST, Model.oPreFieldViewModel.HomesList, "", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Vertical Dist. to DW Aquifer</label>
                                        @Html.DropDownListFor(model => model.oPreFieldViewModel.TOdSites.PF_AQUIFER_VERT_DIST, Model.oPreFieldViewModel.AquiferList, "", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Horiz Dist. to SW Bodies</label>
                                        @Html.DropDownListFor(model => model.oPreFieldViewModel.TOdSites.PF_SURF_WATER_HORIZ_DIST, Model.oPreFieldViewModel.SurfaceWaterList, "", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="border-left: 2px solid black;height: 410px;position: absolute;left: 50%;margin-left: -3px;top: 0;"></div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="row" style="background-color:#393939">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label style="color:white;">Auto-populated</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4 control-label" style="text-align: right;">
                                    State:
                                </label>
                                <div class="col-sm-8">
                                    Test data
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4 control-label" style="text-align: right;">
                                    Country:
                                </label>
                                <div class="col-sm-8">
                                    Test data
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4 control-label" style="text-align: right;">
                                    ZIP:
                                </label>
                                <div class="col-sm-8">
                                    Test data
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4 control-label" style="text-align: right;">
                                    Section/Twp/Range:
                                </label>
                                <div class="col-sm-8">
                                    Test data
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4 control-label" style="text-align: right;">
                                    Topographic Quadrangle:
                                </label>
                                <div class="col-sm-8">
                                    Test data
                                </div>
                            </div>
                            <div class="row" style="background-color:#393939">
                                <label class="col-sm-1 control-label" style="color:white;">
                                    Parcels
                                </label>
                                <div class="col-sm-11" style="text-align:right;">
                                    <button type="submit" name="submitButton" value="Save" class="btn btn-primary">Add More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="panel panel-default" style="margin-top:5px;">
                <div class="panel-heading">
                    Initial Report
                    <div class="panel-tools">
                        <a class="btn btn-xs panel-collapse collapses" href="#">
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                        <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Reported By</label>
                                        @Html.TextBoxFor(model => model.oPreFieldViewModel.TOdSites.REPORTED_BY, new { @class = "form-control", @placeholder = "", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Reported On</label>
                                        @Html.TextBoxFor(model => model.oPreFieldViewModel.TOdSites.REPORTED_ON, "{0:dd/MM/yyyy}", new { @id = "date", @class = "form-control datepicker" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" name="submitButton" value="Save" class="btn btn-primary">Save</button>
                    <a href="@Url.Action(Model.oPreFieldViewModel.returnURL, "OpenDump")" class="btn btn-default">Close</a>
                </div>
            </div>

        }
    </div>
</div>
<div class="modal fade" id="modal-form" style="display: none;width:100%;height:100%; " aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="Close">x</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 no-padding modal_body_map">
                        <div class="location-map" id="location-map">
                            <div style="width: 597px; height: 400px;" id="map_canvas"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/confirm_delete.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            // get date from MyDate input field
            var date = $("#date").val();

            // use current date as default, if input is empty
            if (!date) {
                date = new Date();
              //  $("#date").val() = new Date();
            }

            $('#date').datepicker({
                changeMonth: true,
                changeYear: true,
                format: "dd-mm-yyyy",
                language: "tr",
                autoclose: true,
                todayBtn: 'linked'
            });
            // get date from MyDate input field
            var dateAssessments = $("#dateAssessment").val();

            // use current date as default, if input is empty
            if (!dateAssessments) {
                dateAssessments = new Date();
                $("#dateAssessment").val(dateAssessments);

            }
            $('#dateAssessment').datepicker({
                changeMonth: true,
                changeYear: true,
                format: "dd-mm-yyyy",
                language: "tr",
                autoclose: true,
                todayBtn: 'linked'
            });

        });

        function GetAssessment(value) {
            if (@Model.oFieldAssessmentViewModel.TPrtSites != null) {
                var siteIndx = "@Model.oFieldAssessmentViewModel.TPrtSites?.SiteIdx";
                window.location.href = "/OpenDump/FieldAssessments?AssessmentIdx=" + value + "&SiteIdx=" + siteIndx;

            }
        }
    </script>
}
