@using Microsoft.AspNetCore.Identity
@using TribalSvcPortal.ViewModels
@using TribalSvcPortal.AppLogic.BusinessLogicLayer
@using TribalSvcPortal.AppLogic.DataAccessLayer
@model TribalSvcPortal.ViewModels.OpenDumpViewModels.OpenDumpViewModel

@if (Model != null)
{
    @using (Html.BeginForm("SiteCleanupEdit", "OpenDump", FormMethod.Post, new { @id = "norepostform", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.oFieldAssessmentViewModel.TOdDumpAssessments.DUMP_ASSESSMENTS_IDX)
        @Html.HiddenFor(model => model.oPreFieldViewModel.TPrtSites.SiteIdx)


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-sm-12" style="margin-top: 8px;">
                <div>
                    <label class="col-sm-1 control-label" style="margin-top:8px;">
                        Site Name
                    </label>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.oPreFieldViewModel.TPrtSites.SiteName, new { @class = "form-control", @placeholder = "", @maxlength = "100", required = "required" })
                    </div>
                </div>
                <div>
                    <label class="col-sm-1 control-label" style="margin-top:8px;">
                        Organization
                    </label>
                    <div class="col-sm-3">
                        @Html.DropDownListFor(model => model.oPreFieldViewModel.TPrtSites.OrgId, Model.oPreFieldViewModel.OrgList, "", new { @class = "form-control", required = "required" })
                    </div>
                </div>
                <div>
                    <label class="col-sm-1 control-label" style="margin-top:8px;">
                        EPA ID
                    </label>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.oPreFieldViewModel.TPrtSites.EpaId, new { @class = "form-control", @placeholder = "", @maxlength = "50" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-12">
                <div class="col-md-4 no-padding">
                    <label class="col-sm-3 control-label" style="margin-top:8px;">
                        Based on Assessment
                    </label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.oFieldAssessmentViewModel.selDumpAssessmentIdx, Model.oFieldAssessmentViewModel.AssessmentForHealthThreatDropDownList, "", new { @class = "form-control", required = "required", @onchange = "GetSiteCleanup(this.value)" })

                    </div>
                </div>
            </div>
        </div>

        <section class="panel panel-default" style="margin-top:5px;">
            <div class="panel-heading">
                Waste Amounts
                <div class="panel-tools">
                    <a class="btn btn-xs panel-collapse collapses" href="#">
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-lg-12 col-md-12 col-sm-12" style="text-align:center;">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <label><b>Cat</b></label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <label><b>Type</b></label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <label><b>Amount</b></label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <label><b>Unit</b></label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <label><b>Disposal Method</b></label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <label><b> Disposal Dist (hr)</b></label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        @for (int i = 0; i < Model.oFieldAssessmentViewModel.WasteAmountList.Count(); i++)
                        {
                            <div class="row" style="margin-bottom:5px;">

                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    @Html.HiddenFor(model => model.oFieldAssessmentViewModel.WasteAmountList[i].REF_WASTE_TYPE_IDX)
                                    @Html.DisplayFor(x => x.oFieldAssessmentViewModel.WasteAmountList[i].REF_WASTE_TYPE_CAT)
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    @Html.DisplayFor(x => x.oFieldAssessmentViewModel.WasteAmountList[i].REF_WASTE_TYPE_NAME)
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">

                                    @Html.TextBoxFor(model => model.oFieldAssessmentViewModel.WasteAmountList[i].WASTE_AMT, new { @id = "wasteamount", @class = "form-control", @placeholder = "", @type = "number", @min = "0", @maxlength = "10" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    @Html.TextBoxFor(model => model.oFieldAssessmentViewModel.WasteAmountList[i].WASTE_UNIT_MSR, new { @class = "form-control", @placeholder = "" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    @Html.DropDownListFor(model => model.oFieldAssessmentViewModel.WasteAmountList[i].WASTE_DISPOSAL_METHOD, Model.oFieldAssessmentViewModel.DisposalMethodList, null, new { @class = "form-control" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    @Html.TextBoxFor(model => model.oFieldAssessmentViewModel.WasteAmountList[i].WASTE_DISPOSAL_DIST, new { @class = "form-control", @placeholder = "" })
                                </div>
                            </div>
                        }
                    </div>

                    @if (Model.oFieldAssessmentViewModel.WasteAmountList.Count()>0)
                    {

                        <div class="row">
                            <div class="col-md-12" style="text-align: center;">
                                <button type="submit" name="submitButton" value="Save" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>

        <section class="panel panel-default" style="margin-top:5px;">
            <div class="panel-heading">
               Cost Estimates
                <div class="panel-tools">
                    <a class="btn btn-xs panel-collapse collapses" href="#">
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-lg-12 col-md-12 col-sm-12" style="text-align:center;">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <label><b>Cleanup Costs </b></label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <label><b>Transport Costs</b></label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <label><b>Disposal Costs</b></label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <label><b>Site Restoration Costs</b></label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <label><b>Surveillance Costs</b></label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <label><b> Total</b></label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                     
                            <div class="row" style="margin-bottom:5px;">

                                <div class="col-lg-2 col-md-2 col-sm-2">                                   
                                   $ @Html.DisplayFor(x => x.oFieldAssessmentViewModel.TOdDumpAssessments.COST_CLEANUP_AMT)
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    $ @Html.DisplayFor(x => x.oFieldAssessmentViewModel.TOdDumpAssessments.COST_TRANSPORT_AMT)
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    $ @Html.DisplayFor(x => x.oFieldAssessmentViewModel.TOdDumpAssessments.COST_DISPOSAL_AMT)
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    $ @Html.DisplayFor(x => x.oFieldAssessmentViewModel.TOdDumpAssessments.COST_RESTORE_AMT)
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    $ @Html.DisplayFor(x => x.oFieldAssessmentViewModel.TOdDumpAssessments.COST_SURVEIL_AMT)
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    $ @Html.DisplayFor(x => x.oFieldAssessmentViewModel.TOdDumpAssessments.COST_TOTAL_AMT)
                                </div>
                            </div>
                      
                    </div>                  
                </div>
            </div>
        </section>
    }
}
@section scripts {
    <script src="~/js/confirm_delete.js">
    </script>

}

