@using Microsoft.AspNetCore.Identity
@using TribalSvcPortal.ViewModels
@using TribalSvcPortal.AppLogic.BusinessLogicLayer
@using TribalSvcPortal.AppLogic.DataAccessLayer
@model TribalSvcPortal.ViewModels.OpenDumpViewModels.OpenDumpViewModel

@if (Model != null)
{
    @using (Html.BeginForm("HealthThreatEdit", "OpenDump", FormMethod.Post, new { @id = "norepostform", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.oFieldAssessmentViewModel.TOdDumpAssessments.DUMP_ASSESSMENTS_IDX)
        @Html.HiddenFor(model => model.oPreFieldViewModel.TPrtSites.SiteIdx)  


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-sm-12" style="margin-top: 8px;">
                <div>
                    <label class="col-sm-1 control-label" style="margin-top:8px;">
                        Site Name
                    </label>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.oPreFieldViewModel.TPrtSites.SiteName, new { @class = "form-control", @placeholder = "", @maxlength = "100", required = "required" })
                    </div>
                </div>
                <div>
                    <label class="col-sm-1 control-label" style="margin-top:8px;">
                        Organization
                    </label>
                    <div class="col-sm-3">
                        @Html.DropDownListFor(model => model.oPreFieldViewModel.TPrtSites.OrgId, Model.oPreFieldViewModel.OrgList, "", new { @class = "form-control", required = "required" })
                    </div>
                </div>
                <div>
                    <label class="col-sm-1 control-label" style="margin-top:8px;">
                        EPA ID
                    </label>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.oPreFieldViewModel.TPrtSites.EpaId, new { @class = "form-control", @placeholder = "", @maxlength = "50" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-12">
                <div class="col-md-4 no-padding">
                    <label class="col-sm-3 control-label" style="margin-top:8px;">
                        Assessment
                    </label>
                    <div class="col-sm-8">                     
                        @Html.DropDownListFor(model => model.oFieldAssessmentViewModel.selDumpAssessmentIdx, Model.oFieldAssessmentViewModel.AssessmentForHealthThreatDropDownList, "", new { @class = "form-control", required = "required", @onchange = "GetHealthThreat(this.value)" })

                    </div>
                </div>
            </div>
        </div>

        <section class="panel panel-default" style="margin-top:5px;">
            <div class="panel-heading">
                Waste Profile
                <div class="panel-tools">
                    <a class="btn btn-xs panel-collapse collapses" href="#">
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label><b>Size</b></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label><b>Score</b></label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.oFieldAssessmentViewModel.SizeScore, new { @id = "SizeScore", @class = "form-control", @placeholder = "", @maxlength = "2" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin-top: 8px;">
                            <label class="col-sm-2 control-label" style="margin-top:8px;">
                                Surface Area (acres)
                            </label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.oFieldAssessmentViewModel.TOdDumpAssessments.AREA_ACRES, new { @id = "acres", @class = "form-control", @placeholder = "", @type = "number", @min = "0", @maxlength = "8" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin-top: 8px;">
                            <label class="col-sm-2 control-label" style="margin-top:8px;">
                                Total Volume (cu yds)
                            </label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.oFieldAssessmentViewModel.TOdDumpAssessments.VOLUME_CU_YD, new { @id = "volume", @class = "form-control", @placeholder = "", @type = "number", @min = "0", @maxlength = "10" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label><b>Contents</b></label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label><b>Sub-Score</b></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label><b>Score</b></label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.oFieldAssessmentViewModel.ContentScore, new { @id = "ContentScore", @class = "form-control", @placeholder = "", @maxlength = "2" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            @for (int i = 0; i < Model.oFieldAssessmentViewModel.ContentCheckBoxList.Count(); i++)
                            {
                                <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                                    <div class="col-lg-5 col-md-5 col-sm-5 checkbox">
                                        @Html.HiddenFor(model => model.oFieldAssessmentViewModel.ContentCheckBoxList[i].REF_WASTE_TYPE_IDX)
                                        @Html.HiddenFor(model => model.oFieldAssessmentViewModel.ContentCheckBoxList[i].REF_WASTE_TYPE_NAME)
                                        @Html.CheckBoxFor(model => model.oFieldAssessmentViewModel.ContentCheckBoxList[i].IS_CHECKED, new { @id = @Model.oFieldAssessmentViewModel.ContentCheckBoxList[i].REF_WASTE_TYPE_IDX, @class = "cbk" })<label>@Model.oFieldAssessmentViewModel.ContentCheckBoxList[i].REF_WASTE_TYPE_NAME</label>
                                        <br />
                                    </div>
                                    @if (Model.oFieldAssessmentViewModel.ContentCheckBoxList[i].IS_CHECKED)
                                    {
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <label style="display:block;" id="label@(Model.oFieldAssessmentViewModel.ContentCheckBoxList[i].REF_WASTE_TYPE_IDX)">@Model.oFieldAssessmentViewModel.ContentCheckBoxList[i].REF_WASTE_HAZFACT_SUBSCORE</label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <label style="display:none;" id="label@(Model.oFieldAssessmentViewModel.ContentCheckBoxList[i].REF_WASTE_TYPE_IDX)">@Model.oFieldAssessmentViewModel.ContentCheckBoxList[i].REF_WASTE_HAZFACT_SUBSCORE</label>
                                        </div>

                                    }
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <label></label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label><b>Hazard Factors</b></label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label><b>Sub-Score</b></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label><b>Score</b></label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.oFieldAssessmentViewModel.HazardFactorScore, new { @id = "HazardFactorScore", @class = "form-control", @placeholder = "", @maxlength = "2" })
                                </div>
                            </div>
                        </div>
                    </div>
                    @{ RefThreatFactor[] h = @Model.oFieldAssessmentViewModel.TOdRefThreatFactorList.ToArray();
                    }

                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="form-group">
                                <label>Average RainFall</label>
                                @{ string nameRainFall = "RainFall";}
                                @Html.DropDownListFor(model => model.oFieldAssessmentViewModel.TOdDumpAssessments.HF_RAINFALL, Model.oFieldAssessmentViewModel.AverageRainfallList, null, new { @class = "form-control", @onchange = "GetSubScore(this.value," + Json.Serialize(h) + "," + Json.Serialize(nameRainFall) + ")" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 32px;">
                            <label id="labelRainfall" class="labelclass">@Model.oFieldAssessmentViewModel.RainfallSubScore</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label></label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="form-group">
                                <label>Site Drainage and Leachate Potential</label>
                                @{ string nameDrainage = "Drainage";}
                                @Html.DropDownListFor(model => model.oFieldAssessmentViewModel.TOdDumpAssessments.HF_DRAINAGE, Model.oFieldAssessmentViewModel.DrainageList, null, new { @class = "form-control", @onchange = "GetSubScore(this.value," + Json.Serialize(h) + "," + Json.Serialize(nameDrainage) + ")" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 32px;">
                            <label id="labelDrainage" class="labelclass">@Model.oFieldAssessmentViewModel.DrainageSubScore</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label></label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="form-group">
                                <label>Flooding Potential</label>
                                @{ string nameFlooding = "Flooding";}
                                @Html.DropDownListFor(model => model.oFieldAssessmentViewModel.TOdDumpAssessments.HF_FLOODING, Model.oFieldAssessmentViewModel.FloodingList, null, new { @class = "form-control", @onchange = "GetSubScore(this.value," + Json.Serialize(h) + "," + Json.Serialize(nameFlooding) + ")" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 32px;">
                            <label id="labelFlooding" class="labelclass">@Model.oFieldAssessmentViewModel.FloodingSubScore</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label></label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="form-group">
                                <label>Frequency of Burning</label>
                                @{ string nameBurning = "Burning";}

                                @Html.DropDownListFor(model => model.oFieldAssessmentViewModel.TOdDumpAssessments.HF_BURNING, Model.oFieldAssessmentViewModel.BurningList, null, new { @class = "form-control", @onchange = "GetSubScore(this.value," + Json.Serialize(h) + "," + Json.Serialize(nameBurning) + ")" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 32px;">
                            <label id="labelBurning" class="labelclass">@Model.oFieldAssessmentViewModel.BurningSubScore</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label></label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="form-group">
                                <label>Fenced Site</label>
                                @{ string nameFenced = "Fenced";}
                                @Html.DropDownListFor(model => model.oFieldAssessmentViewModel.TOdDumpAssessments.HF_FENCING, Model.oFieldAssessmentViewModel.FencedList, null, new { @class = "form-control", @onchange = "GetSubScore(this.value," + Json.Serialize(h) + "," + Json.Serialize(nameFenced) + ")" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 32px;">
                            <label id="labelFenced" class="labelclass">@Model.oFieldAssessmentViewModel.FencedSubScore</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label></label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="form-group">
                                <label>Controlled Access</label>
                                @{ string nameAccess = "Access";}
                                @Html.DropDownListFor(model => model.oFieldAssessmentViewModel.TOdDumpAssessments.HF_ACCESS_CONTROL, Model.oFieldAssessmentViewModel.AccessList, null, new { @class = "form-control", @onchange = "GetSubScore(this.value," + Json.Serialize(h) + "," + Json.Serialize(nameAccess) + ")" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 32px;">
                            <label id="labelAccess" class="labelclass">@Model.oFieldAssessmentViewModel.AccessSubScore</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label></label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="form-group">
                                <label>Public Concern</label>

                                @{string nameConcern = "Concern";}
                                @Html.DropDownListFor(model => model.oFieldAssessmentViewModel.TOdDumpAssessments.HF_PUBLIC_CONCERN, Model.oFieldAssessmentViewModel.ConcernList, null, new { @class = "form-control", @onchange = "GetSubScore(this.value," + Json.Serialize(h) + "," + Json.Serialize(nameConcern) + ")" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 32px;">
                            <label id="labelConcern" class="labelclass">@Model.oFieldAssessmentViewModel.ConcernSubScore</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label><b>Health Threat Score</b></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:center;">
                            <div class="form-group">
                                <label> [Size Score] x ([Content Score] + [Hazard Factor Score]) x [Proximity Factor Score] = Health Threat Score</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:center;">
                            <div class="col-md-12">
                                <div>
                                    <div class="col-md-1 no-padding">
                                        @Html.TextBoxFor(model => model.oFieldAssessmentViewModel.SizeTotalScore, new { @id = "SizeTotalScore", @class = "form-control", @placeholder = "", @maxlength = "2", @style = "width:26px;", disabled = "disabled", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-1 no-padding"> <label>X</label></div>
                                    <div class="col-md-1 no-padding"><label>(</label></div>
                                    <div class="col-md-1 no-padding">
                                        @Html.TextBoxFor(model => model.oFieldAssessmentViewModel.ContentTotalScore, new { @id = "ContentTotalScore", @class = "form-control", @placeholder = "", @maxlength = "2", @style = "width:26px;", disabled = "disabled", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-1 no-padding">
                                        <label>+</label>
                                    </div>
                                    <div class="col-md-1 no-padding">

                                        @Html.TextBoxFor(model => model.oFieldAssessmentViewModel.HazardTotalScore, new { @id = "HazardTotalScore", @class = "form-control", @placeholder = "", @maxlength = "2", @style = "width:26px;", disabled = "disabled", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-1 no-padding">
                                        <label>)</label>
                                    </div>
                                    <div class="col-md-1 no-padding">
                                        <label>X</label>
                                    </div>
                                    <div class="col-md-1 no-padding">
                                        @Html.TextBox("ProximityTotalScore", "10", new { @class = "form-control", @placeholder = "", @maxlength = "2", @style = "width:26px;", disabled = "disabled", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-1 no-padding">
                                        <label>=</label>
                                    </div>
                                    <div class="col-md-1 no-padding">
                                        @Html.TextBoxFor(model => model.oFieldAssessmentViewModel.TOdDumpAssessments.HEALTH_THREAT_SCORE, new { @id = "HealthThreatScore", @class = "form-control", @placeholder = "", @style = "width:55px;", disabled = "disabled", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-1 no-padding">
                                        <label id="FinalScore">@Model.oFieldAssessmentViewModel.FinalScore</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align: center;">
                            <button type="submit" name="submitButton" value="Save" class="btn btn-primary">Save</button>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    }
}
@section scripts {
    <script src="~/js/confirm_delete.js">
    </script>

}

