@using Microsoft.AspNetCore.Identity
@using TribalSvcPortal.ViewModels
@using TribalSvcPortal.AppLogic.BusinessLogicLayer
@model TribalSvcPortal.ViewModels.OpenDumpViewModels.OpenDumpViewModel

@if (Model != null)
{
    @using (Html.BeginForm("HealthThreatEdit", "OpenDump", FormMethod.Post, new { @id = "norepostform", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.oFieldAssessmentViewModel.TOdDumpAssessments.DUMP_ASSESSMENTS_IDX)
        @Html.HiddenFor(model => model.oPreFieldViewModel.TPrtSites.SiteIdx)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-sm-12" style="margin-top: 8px;">
                <div>
                    <label class="col-sm-1 control-label" style="margin-top:8px;">
                        Site Name
                    </label>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.oPreFieldViewModel.TPrtSites.SiteName, new { @class = "form-control", @placeholder = "", @maxlength = "100" })
                    </div>
                </div>
                <div>
                    <label class="col-sm-1 control-label" style="margin-top:8px;">
                        Organization
                    </label>
                    <div class="col-sm-3">
                        @Html.DropDownListFor(model => model.oPreFieldViewModel.TPrtSites.OrgId, Model.oPreFieldViewModel.OrgList, "", new { @class = "form-control" })
                    </div>
                </div>
                <div>
                    <label class="col-sm-1 control-label" style="margin-top:8px;">
                        EPA ID
                    </label>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.oPreFieldViewModel.TPrtSites.EpaId, new { @class = "form-control", @placeholder = "", @maxlength = "50" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-12">
                <div class="col-md-4 no-padding">
                    <label class="col-sm-3 control-label" style="margin-top:8px;">
                        Assessment
                    </label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.oFieldAssessmentViewModel.selDumpAssessmentIdx, Model.oFieldAssessmentViewModel.AssessmentDropDownList, "", new { @class = "form-control", @onchange = $"document.location.href= '/OpenDump/FieldAssessments?AssessmentIdx=' + this.options[this.selectedIndex].value" })

                    </div>
                </div>
            </div>
        </div>

        <section class="panel panel-default" style="margin-top:5px;">
            <div class="panel-heading">
                Waste Profile
                <div class="panel-tools">
                    <a class="btn btn-xs panel-collapse collapses" href="#">
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label><b>Size</b></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label><b>Score</b></label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.oFieldAssessmentViewModel.SizeScore, new { @id = "SizeScore", @class = "form-control", @placeholder = "", @maxlength = "2" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin-top: 8px;">
                            <label class="col-sm-2 control-label" style="margin-top:8px;">
                                Surface Area (acres)
                            </label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.oFieldAssessmentViewModel.TOdDumpAssessments.AREA_ACRES, new { @id = "acres", @class = "form-control", @placeholder = "", @type = "number", @min = "0", @maxlength = "8" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin-top: 8px;">
                            <label class="col-sm-2 control-label" style="margin-top:8px;">
                                Total Volume (cu yds)
                            </label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.oFieldAssessmentViewModel.TOdDumpAssessments.VOLUME_CU_YD, new { @id = "volume", @class = "form-control", @placeholder = "", @type = "number", @min = "0", @maxlength = "8" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label><b>Contents</b></label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label><b>Sub-Score</b></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label><b>Score</b></label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.oFieldAssessmentViewModel.ContentScore, new { @id = "ContentScore", @class = "form-control", @placeholder = "", @maxlength = "2" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            @for (int i = 0; i < Model.oFieldAssessmentViewModel.ContentCheckBoxList.Count(); i++)
                            {
                                <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                                    <div class="col-lg-5 col-md-5 col-sm-5 checkbox">
                                        @*<input asp-for="@Model.ContentCheckBoxList[i].IS_CHECKED" type="checkbox" onchange="checkboxclick()" />
                            <label asp-for="@Model.ContentCheckBoxList[i].REF_WASTE_TYPE_IDX">@Model.ContentCheckBoxList[i].REF_WASTE_TYPE_NAME</label>
                            <input asp-for="@Model.ContentCheckBoxList[i].REF_WASTE_HAZFACT_SUBSCORE" type="hidden" />*@

                                        @Html.CheckBoxFor(model => model.oFieldAssessmentViewModel.ContentCheckBoxList[i].IS_CHECKED, new { @id = @Model.oFieldAssessmentViewModel.ContentCheckBoxList[i].REF_WASTE_TYPE_IDX, @onchange = "checkboxclick()" })<label>@Model.oFieldAssessmentViewModel.ContentCheckBoxList[i].REF_WASTE_TYPE_NAME</label>
                                        <br />
                                    </div>
                                    @if (@Model.oFieldAssessmentViewModel.ContentCheckBoxList[i].IS_CHECKED)
                                    {
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <label>@Model.oFieldAssessmentViewModel.ContentCheckBoxList[i].REF_WASTE_HAZFACT_SUBSCORE</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label></label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <label></label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <label></label>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label><b>Hazard Factors</b></label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label><b>Sub-Score</b></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label><b>Score</b></label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.oFieldAssessmentViewModel.HazardFactorScore, new { @id = "HazardFactorScore", @class = "form-control", @placeholder = "", @maxlength = "2" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                        <div class="col-lg-5 col-md-5 col-sm-5 checkbox">
                            <div class="form-group">
                                <label>Average RainFall</label>
                                @Html.DropDownListFor(model => model.oFieldAssessmentViewModel.TOdDumpAssessments.HF_RAINFALL, Model.oFieldAssessmentViewModel.AverageRainfallList, "", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label></label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label></label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                        <div class="col-lg-5 col-md-5 col-sm-5 checkbox">
                            <div class="form-group">
                                <label>Site Drainage and Leachate Potential</label>
                                @Html.DropDownListFor(model => model.oFieldAssessmentViewModel.TOdDumpAssessments.HF_DRAINAGE, Model.oFieldAssessmentViewModel.DrainageList, "", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label></label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label></label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                        <div class="col-lg-5 col-md-5 col-sm-5 checkbox">
                            <div class="form-group">
                                <label>Flooding Potential</label>
                                @Html.DropDownListFor(model => model.oFieldAssessmentViewModel.TOdDumpAssessments.HF_FLOODING, Model.oFieldAssessmentViewModel.FloodingList, "", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label></label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label></label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                        <div class="col-lg-5 col-md-5 col-sm-5 checkbox">
                            <div class="form-group">
                                <label>Frequency of Burning</label>
                                @Html.DropDownListFor(model => model.oFieldAssessmentViewModel.TOdDumpAssessments.HF_BURNING, Model.oFieldAssessmentViewModel.BurningList, "", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label></label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label></label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                        <div class="col-lg-5 col-md-5 col-sm-5 checkbox">
                            <div class="form-group">
                                <label>Fenced Site</label>
                                @Html.DropDownListFor(model => model.oFieldAssessmentViewModel.TOdDumpAssessments.HF_FENCING, Model.oFieldAssessmentViewModel.FencedList, "", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label></label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label></label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                        <div class="col-lg-5 col-md-5 col-sm-5 checkbox">
                            <div class="form-group">
                                <label>Controlled Access</label>
                                @Html.DropDownListFor(model => model.oFieldAssessmentViewModel.TOdDumpAssessments.HF_ACCESS_CONTROL, Model.oFieldAssessmentViewModel.AccessList, "", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label></label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label></label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                        <div class="col-lg-5 col-md-5 col-sm-5 checkbox">
                            <div class="form-group">
                                <label>Public Concern</label>
                                @Html.DropDownListFor(model => model.oFieldAssessmentViewModel.TOdDumpAssessments.HF_PUBLIC_CONCERN, Model.oFieldAssessmentViewModel.ConcernList, "", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label></label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <label></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label><b>Health Threat Score</b></label>
                            </div>
                        </div>                      
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" name="submitButton" value="Save" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}
@section scripts {
    <script src="~/js/confirm_delete.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            function checkboxclick() {
            window.location.href = "/OpenDump/HealthThreatContent?model=" + @Model;
        }
        });


    </script>
}

