@model TribalSvcPortal.ViewModels.HomeViewModels.HomeViewModel
@{
    ViewData["Title"] = "Tribal Secure Services Portal";
    if (User.Identity.IsAuthenticated)
    {
        ViewData["Title"] = "Your Secured Services";
    }

    ViewData["HideTitle"] = !User.Identity.IsAuthenticated;
}

@if (!User.Identity.IsAuthenticated)
{
    <section id="home">
        <div class="item bg-img-cover"></div>
    </section>
    <section class="wrapper z-index-1" style="margin-top: -80px;">
        <div class="container mlr-20">
            <div class="row">
                <div class="call-to-action bg-theme-colored p-30">
                    <div class="col-md-9">
                        <h3 class="text-white mt-10" style="font-size: 20px;">Welcome to the Tribal <b>Secure Services</b> Portal. Log in to access secure tribal services</h3>
                    </div>
                    <div class="col-md-3" style="min-width:300px;">
                        <a class="btn btn-lg btn-dark-beige" href="@Url.Action("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl })" style="margin-right:20px; border-width: 4px; color:#fff;  border-color: #fff; border-radius: 20px;"><i class="clip-arrow-right"></i> Log In</a>
                        <a class="btn btn-lg btn-dark-beige" href="@Url.Action("Register", "Account")" style="border-width: 4px; color:#fff;  border-color: #fff; border-radius: 20px;"><i class="clip-arrow-right"></i> Register</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="campaign" class="bg-silver-light">
        <div class="containerz pb-40 pt-20">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2  fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; padding-bottom:25px">
                        <h2 class="text-uppercase line-bottom-center mt-0">Available <span class="text-theme-colored">Secured Services</span></h2>
                        The Tribal Services Secured Portal offers the following services for tribal agencies and tribal members
                    </div>
                </div>
            </div>
            <div class="row ">

                <div class="col-xs-12 col-sm-6 col-md-4 pb-sm-20">
                    <h3 class="line-bottom mt-0">Open <span class="text-theme-colored">Waters</span></h3>
                    <div class="image-box-thum">
                        <img src="~/images/open_waters_logo.png" alt="" class="img-fullwidth" style="max-width:300px;">
                    </div>
                    <div class="image-box-details pt-10 pb-sm-20">
                        <p class="lead mb-15">Upload and manage water quality sampling data, then submit it to EPA</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 pb-sm-20">
                    <h3 class="line-bottom mt-0">Emergency <span class="text-theme-colored">Hound</span></h3>
                    <div class="image-box-thum">
                        <img src="~/images/emergency_hound_logo.png" alt="" class="img-fullwidth" style="max-width:300px;">
                    </div>
                    <div class="image-box-details pt-10 pb-sm-20">
                        <p class="lead mb-15">Maintain an inventory of available resources, track emergency incidents, and response efforts.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 pb-sm-20">
                    <h3 class="line-bottom mt-0">Open <span class="text-theme-colored">Dump</span></h3>
                    <div class="image-box-thum">
                        <img src="~/images/open_dump_logo.png" alt="" class="img-fullwidth" style="max-width:300px;">
                    </div>
                    <div class="image-box-details pt-10 pb-sm-20">
                        <p class="lead mb-15">Inventory open dumps located on tribal lands and estimate cleanup costs</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
else
{
    if (!string.IsNullOrEmpty(Model.Announcement))
    {
        <div class="alert alert-block alert-info fade in">
            <button data-dismiss="alert" class="close" type="button">×</button>
            @Html.Raw(Model.Announcement)
            @*@Html.Raw(HttpUtility.HtmlDecode(Model.Announcement))*@
        </div>
    }

    if (Model.WarnNoClientInd)
    {
        <div class="alert alert-block alert-warning fade in">
            <button data-dismiss="alert" class="close" type="button">
                ×
            </button>
            <h4 class="alert-heading"><i class="fa fa-exclamation-triangle"></i> Let's Get Started!</h4>
            <p>
                It looks like you haven't been added to any Program Areas for your tribe yet. Click below to view the available Program Areas and request access.
            </p>
            <p>
                <a href="@Url.Action("AccessRights", "Manage")" class="btn btn-yellow">Manage Your Access Rights</a>
            </p>
        </div>
    }

    <div class="row pt-20">

        @foreach (var _client in Model._clients)
        {
            if (_client.CLIENT_NAME == "Open Waters")
            {
                <div class="col-xs-12 col-sm-6 col-md-4 pb-sm-20">
                    <h3 class="line-bottom mt-0">Open <span class="text-theme-colored">Waters</span></h3>
                    <div class="image-box-thum">
                        <img src="~/images/open_waters_logo.png" alt="" class="img-fullwidth" style="max-width:300px;">
                    </div>
                    <div class="image-box-details pt-10 pb-sm-20">
                        <a href="JavaScript:void(0);" onclick="GetOpenWatersLink('@_client.CLIENT_ID'); return false;" class="btn btn-sm btn-theme-colored">Explore</a>
                        <p class="lead mb-15">Upload and manage water quality sampling data, then submit it to EPA</p>
                    </div>
                </div>
            }
            else if (_client.CLIENT_NAME == "Emergency Hound Web")
            {
                <div class="col-xs-12 col-sm-6 col-md-4 pb-sm-20">
                    <h3 class="line-bottom mt-0">Emergency <span class="text-theme-colored">Hound</span></h3>
                    <div class="image-box-thum">
                        <img src="~/images/emergency_hound_logo.png" alt="" class="img-fullwidth" style="max-width:300px;">
                    </div>
                    <div class="image-box-details pt-10 pb-sm-20">
                        @*<a href="@_client.CLIENT_URL" class="btn btn-sm btn-theme-colored">Explore</a>*@
                        <a href="#" class="btn btn-sm btn-theme-colored">Currently Offline</a>
                        <p class="lead mb-15">Maintain an inventory of available resources, track emergency incidents, and response efforts.</p>
                    </div>
                </div>
            }
            else if (_client.CLIENT_NAME == "Open Dump")
            {
                <div class="col-xs-12 col-sm-6 col-md-4 pb-sm-20">
                    <h3 class="line-bottom mt-0">Open <span class="text-theme-colored">Dump</span></h3>
                    <div class="image-box-thum">
                        <img src="~/images/open_dump_logo.png" alt="" class="img-fullwidth" style="max-width:300px;">
                    </div>
                    <div class="image-box-details pt-10 pb-sm-20">
                        <a href="@_client.CLIENT_URL" class="btn btn-sm btn-theme-colored">Explore</a>
                        <p class="lead mb-15">Inventory open dumps located on tribal lands and estimate cleanup costs</p>
                    </div>
                </div>
            }
        }
    </div>

}


<section id="volunteers" class="wrapper wrapper-grey" style="background-color:#616161">
    <div class="containerz">
        <div class="section-title">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="font-weight-300 text-white m-0">Browse now</h5>
                    <h2 class="text-white text-uppercase font-28 mt-0">Our <span class="text-theme-colored font-weight-400">public portal sites</span></h2>
                    <div class="icon">
                        <i class="fa fa-hospital-o text-white"></i>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="text-white">No account is needed to view the public environmental services offered by our partner tribal agencies. Click the links below to learn about the tribal services they offer</p>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">

                @if (Model._WordPressOrgs != null){
                    foreach (var zzz in Model._WordPressOrgs)
                    {
                        <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
                            <div class="team-member">
                                <div class="volunteer-thumb"> <img src="~/images/@(zzz.ORG_SEAL)" alt="" class="img-fullwidth img-responsive" style="background-color:#cacaca; width:270px; padding:15px"> </div>
                                <div class="bg-silver-light text-center pt-20 pb-20" style="max-width:270px;">
                                    <div class="member-biography">
                                        @if (zzz.ORG_NAME.Length < 28)
                                        {
                                            <h3 class="mt-0 mlr-10">@zzz.ORG_NAME</h3>
                                        }
                                        else
                                        {
                                            <h3 class="mt-0 mlr-10" style="font-size:20px">@zzz.ORG_NAME</h3>
                                        }
                                    </div>
                                    <p>
                                        <a href="@(zzz.WORDPRESS_URL)" class="btn btn-success mb-20">Public Portal</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    }
                }


            </div>
        </div>
    </div>
</section>

